{% extends "templates/shop/base.html" %}

{% block title %} Flight Booking Agency {% endblock %}

{% block body %}
<style>
    svg {
    transition: all 1px;
    display: flex;
    justify-content: space-between;
    width: 120vh; 
    height: 60vh;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    {% if frappe.form_dict.color %}
       background-color: {{ frappe.form_dict.color }};
    {% else %}
      background-color: black;
    {% endif %}

    }
</style>

<h1>Dynamic Content Example</h1>
{% endblock %}