{% block page_content %}


<div class="body">
    <div class="title">
        <h3>{{ doc.title or doc.name }}</h3>
        <h4>Flight Details</h4>
<div class="content">
    
    <ul>
        {% set airline = frappe.db.get_value("Airplane", airplane, "airline") %}
        <li>Airline: {{ airline }}</li>
        <li>{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}</li>
        <li>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }}</li>
        <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
    </ul>
    <a class="book-button" href="http://airplane.localhost/airplane_ticket_web_form/new?flight={{ doc.name }}">Book the Flight</a>
</div>
</div>
</div>

{% endblock %}

{% block styles %}
<style>
.body{
    display: flex;
    margin-left:150px;
    margin-top:80px;
}
.title{
    font-size:30px;
}
.content{
    font-size:16px;
    color:grey;
}
.book-button {
    margin-top:30px;
    display: inline-block;
    background-color: blue;
    color: red;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    
}
.book-button:hover {
    background-color: darkblue;
    border-color: darkblue;
}

</style>
{% endblock %}
